# Auto detect text files and perform LF normalization
* text=auto
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.wav   binary
*.mp3   binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary