DetachedWindow, CaptureWindow, MaskWindow {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

DetachedWindow BodyLabel,
CaptureWindow QLabel,
MaskWindow BodyLabel {
    color: rgb(32, 32, 32);
    font: 13px --FontFamilies;
}
